body {
	--font-family: "Roboto", sans-serif;
	--second-family: "Raleway", sans-serif;

	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

header {
	width: 100%;
	height: 72px;
	background: var(--white);
	display: flex;
}

.logo1 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--iris);
}

.logo2 {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 117%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--navy-blue);
}

.nav-menu {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin: 0;
	padding: 0;
}
.nav-menu li a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 18px;
	color: #2c2c3c;
	font-weight: 600;
}

.address-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	gap: 40px;
}

.header-contacts li a {
	text-decoration: none;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--slate);
}
